







.out_of_area {
    padding-top: 1px;
    margin-top: -1px;



    width: 100%;
    height: auto;


    .cards {
        display: flex;
        height: fit-content;

        margin-top: 1.5vh;

        overflow-y: scroll;

        overflow: auto; /* Enable scrolling */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
    }


}

.more_near_you {
    .banners {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
}
