

.event_card {
    margin: auto;
    width: 100%;

    .thumbnail {
    
    }

    .info {
        display: flex;
        justify-content: flex-start;

        height: 3rem;
        background-color: #212121;

        .date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;

            // background-color: blue;
            height: 100%;

            padding: 0 2vw;

            .day, .month_date {
                display: flex;
                justify-content: center;
                align-items: center;

                font-weight: 500;
                z-index: 1;

                filter: drop-shadow(0 0 2px rgb(0, 0, 0));
            }

            .background {
                position: absolute;
                height: 8vw;
                width: 8vw;

                z-index: 0;

                background-color: #e76cfa29;
                // filter: drop-shadow(0 0 6px rgb(110, 20, 220));

                animation: rotate360 60s linear infinite;
            }
        }
    }
}


@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


@keyframes  {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

